body{
  font-family: 'Arvo', serif;
  background-image:url(img/fond.jpg);
}

header{
  text-align: center;
}

.container{
  display:flex;
  justify-content: center;
}

ul{
  list-style-type: none;
}

#epaule, #main, #poignet, #bassin, #genou, #cheville
{display: none;}
